@font-face {
    font-family: 'din_condensedbold';
    src: url('../fonts/din_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir-lt-45-book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.container {
	font-family: 'Avenir';
	background: #F5F7FA;
	display: grid;
	grid-template-columns: 112px auto;
	grid-template-rows: 80px auto;
	grid-template-areas: 
		"sidebar header"
		"sidebar content";
    height: 100%;
	width: 100%;
}

.header {
	border-bottom: 1px solid #e4e5e8;
	color: #737689;
	font-size: 13px;
	grid-area: header;
	padding: 30px 45px;
}

.header span{
	padding-right: 25px;
}

.sidebar {
	background: #09CFA3;
	border: 1px solid #09cfa3;
	grid-area: sidebar;
	display: flex;
    flex-direction: column;
    padding: 20px;
}

.content {
	display: flex;
	grid-area: content;
	overflow: auto;
	padding: 30px 15px 30px 45px;
}

.logoWrapper {
	display: flex;
	justify-content: center;
}

.wrapper {
	flex: 1 1 auto;
	padding-left: 32px;
}

@media (max-width: 1200px) {
	.container {
		grid-template-areas: 
			"header header"
			"content content";
		grid-template-rows: 60px auto;
	}

	.sidebar {
		display: none;
	}

	.header {
		padding: 20px 20px 0;
	}

	.content {
		flex-direction: column;
		padding: 16px;
	}

	.pageButtons {
		display: flex;
	}

	.wrapper {
		padding: 0;
	}
}