.link {
	cursor: pointer;
	display: flex;
	font-size: 12px;
	transition: 0.35s;
}

.link img {
	padding: 5px 0;
}

.link.vertical {
	color: #049C7A;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-transform: capitalize;
}

.link.vertical.active {
	color: #FFF;
}

.link.vertical:not(.active) img {
	filter: invert(65%);
	opacity: 0.5;
}

.link.horizontal {
	align-items: center;
	color: #737689;
	margin-right: 32px;
	text-transform: uppercase;
}

.link.horizontal img {
	margin-right: 12px;
}

.link.horizontal:not(.active) {
	opacity: 0.5;
}