.radio-button-container {
	display: flex;
	box-sizing: border-box;
	flex-wrap: nowrap;
	margin-left: -16px;
	overflow: auto;
	padding: 0 16px;
}

.radio-button {
	background: #09D0A3;
	border-radius: 20px;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: 'din';
	font-size: 16px;
	margin-right: 16px;
	min-width: 80px;
	opacity: 0.5;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.25s;
	flex: 0 0 auto;
}

.radio-button.active {
	opacity: 1;
}

@media (max-width: 1200px) {
	.radio-button-container {
		width: 100vw;
	}
}