.tableWrapper {
	height: 100%;
    overflow: auto;
}
	

.table {
	border-spacing: 0;
	width: 100%;
}

.table th, .table td {
	font-size: 12px;
	padding: 16px;
	text-transform: uppercase;
}

.table th {
	color: #09CFA3;
	font-size: 12px;
	text-align: left;
}

.table td {
	color: #737689;
}

.table tr {
	padding: 0 7px;
}

.table tbody tr:nth-child(odd) {
	background: #E5E9EF;
}

@media (max-width: 1200px) {
	.tableWrapper {
		margin-left: -16px;
		width: 100vw;
	}
}